<footer class="footer footer-fusion">
    <div class="footer-main">
      <div class="container footer-main-grid">

        <div class="fm-col">
          <div class="logo">
          <img src="/public/imagenes/logoMultiImagen.png" alt="Logo Multiimagen">
        </div>
          <p class="fm-text">
            Publicidad empresarial y comercial. Soluciones en impresión, rotulación y
            publicidad exterior con enfoque profesional.
          </p>

          <div class="fm-social-row">
            <a class="fm-social" href="https://www.facebook.com/multimagencostarica" target="_blank" rel="noopener noreferrer" aria-label="Facebook">f</a>
            <a class="fm-social" href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">◎</a>
            <a class="fm-social" href="mailto:ventas@multimagencostarica.com" aria-label="Correo">✉</a>
          </div>
        </div>

        <div class="fm-col">
          <h4 class="fm-title">Info</h4>

          <div class="ft-contact-cards ft-contact-cards--dark">
            <div class="ft-mini">
              <div class="ft-icon">⏰</div>
              <div>
                <strong>Horario:</strong>
                <div class="ft-muted">ventas@multimagencostarica.coms</div>
              </div>
            </div>

            <div class="ft-mini">
              <div class="ft-icon">📍</div>
              <div>
                <strong>Dirección</strong>
                <div class="ft-muted">3MPM+QC4, Bajo Los Golondrinas, Provincia de Alajuela, Grecia, Barrio Latino</div>
              </div>
            </div>
          </div>
        </div>

        <div class="fm-col">
          <h4 class="fm-title">Contacto</h4>
          <ul class="fm-info">
            <li><span class="dot"></span> Email: ventas@multimagencostarica.com</li>
            <li><span class="dot"></span> Tel: +506 2494-6967</li>
            <li><span class="dot"></span> Grecia, Costa Rica</li>
          </ul>
        </div>
        <div class="fm-col fm-brand-image">
        <img src="/public/imagenes/LogoRamita.png" alt="Elemento decorativo Multiimagen">
          </div>

      </div>

      <div class="footer-bottom">
        <div class="container footer-bottom-row">
          <small>© 2026 Multiimagen • Todos los derechos reservados.</small>
          <small>Desarrollado por 
            <a href="https://www.instagram.com/jaq_digital.cr/" 
            target="_blank" 
            rel="noopener noreferrer"
            class="footer-link">
            J&JdigitalCR
            </a>
          </small>
        </div>
      </div>
    </div>
  </footer>